<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/sub/save}" th:object="${sub}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{idsub}" />
		    <div class="form-group">
		        <label>Ten mon</label> 
		        <input type="text" class="form-control"
		            th:field="*{tenmon}" th:errorclass="field-error" /> 
		        <em th:if="${#fields.hasErrors('tenmon')}" th:errors="*{tenmon}"></em>
		    </div>
		    
		    <div class="form-group">
		        <label>Giao vien</label> 
		        <input type="text" class="form-control" th:field="*{giaovien}" />
		    </div>
		    
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>